$fade-in-active : fade-in-active;
$fade-in-after  : fade-in-after;
$fade-in-before : fade-in-before;
$fade-out-active: fade-out-active;
$fade-out-after : fade-out-after;
$fade-out-before: fade-out-before;


:export {
    fadeIn       : fadeIn;
    fadeInActive : $fade-in-active;
    fadeInAfter  : $fade-in-after;
    fadeInBefore : $fade-in-before;
    fadeOut      : fadeOut;
    fadeOutActive: $fade-out-active;
    fadeOutAfter : $fade-out-after;
    fadeOutBefore: $fade-out-before;   
}